@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #F8F6F4;
}

:where(.otp-container, form, .input-field) {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.otp-container{
    row-gap: 1em;
    border: 1px solid red;
    margin: 0;
    width: 100%;
}

.otp-container h2 {
    text-align: center;
}

.otp-container p {
    color: #8A8A8A;
    font-size: 0.7em;
    text-align: center;
}

.otp-container .back-btn {
    flex-direction: flex-start;

    border: 1px solid red;
}

.otp-container .input-field {
    flex-direction: row;
    column-gap: 10px;
    min-height: 100%;
    border: 1px solid blue;
}

.otp-container .input-field input {
    height: 45px;
    width: 42px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    text-align: center;
}

form button {
    background: #558D88;
    border-radius: 5px;
    border: 0;
    color: #fff;
    padding: 5px;
    min-width: auto;
}
